body {
  background-color: $body-background;
  color: $body-font-color;
  min-height: $body-min-height;
  width: $body-width;

  .layout-container {
    box-shadow: $layout-box-shadow;
    background: $layout-background;
    width: $layout-width;
    height: $layout-height;

    .view-layout {
      background: $view-layout-background;
      padding: 10px;
      height: 100%;
    }
  }
}

.repeat-height {
  height: 400px;
}

.headers {
  margin-bottom: 5px;
  text-align: right;
  padding-right: 15px;
}

.field {
  display:inline;
  text-align: right;
  padding-right: 15px;
  border: 1px solid #f8f8f8;
  height: 60px;
  font-size: 13px;
}

.facets {
  margin-bottom: 15px;
}

.controls {
  display: block;
}

.tall {
  height:250px;
}
